.overall {
  font-family: sans-serif;
  background-color: white;
  text-align: center;
  background-image: url(rocks.jpeg);
  background-size: cover;
}
#header-title {
  background-color: #f0a44d;
  border-radius: 5px;
  margin-left: 350px;
  margin-right: 350px;
  font-size: 60px;
}
.flex-container {
  display: flex;
}
.flex-container > div {
  flex: 1;
}
p {
  font-size: 40px;
}
#inputtedChore  {
  font-size: 25px;
}
#toDoList {
list-style: none;
}
li {
  margin: 15px;
}
#fButton {
  border-radius: 5px;
  background-color: green;
  margin-left: 5px;
}
#dButton {
  background-color: #c42825;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 20px;
}
#universalDelete {
  background-color: #3c8f4b;
  border-radius: 5px;
  font-size: 35px;
}
#subButton  {
  background-color: #3c8f4b;
  border-radius: 5px;
  font-size: 20px;
}
#fieldBox {
  border-radius: 5px;
  background-color: #f0a44d;
  margin-left: 275px;
  margin-right: 275px;
  padding-bottom: 4px;
}
#universalDelete {
  font-size: 25px;
}
#nListElement   {
  font-size: 25px;
}
