.overall  {
  font-family: sans-serif;
  background-color: white;
  text-align: center;
  background-image: url(rocks.jpeg);
  background-size: cover;
}
#header-title   {
  background-color: #f0a44d;
  border-radius: 5px;
  margin-left: 350px;
  margin-right: 350px;
  font-size: 60px;
}
.flex-container   {
  display: flex;
}
.flex-container > div   {
  flex: 1;
}
p {
  font-size: 40px;
}
#inputted-chore  {
  font-size: 25px;
}
#to-do-list   {
list-style: none;
}
li {
  margin: 15px;
}
#finish-checkbox  {
  border-radius: 5px;
  background-color: green;
  margin-left: 5px;
}
#delete-button  {
  background-color: #c42825;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 20px;
}
#empty-list   {
  background-color: #3c8f4b;
  border-radius: 5px;
  font-size: 35px;
}
#sub-button  {
  background-color: #3c8f4b;
  border-radius: 5px;
  font-size: 20px;
}
#field-box   {
  border-radius: 5px;
  background-color: #f0a44d;
  margin-left: 275px;
  margin-right: 275px;
  padding-bottom: 4px;
}
#empty-list   {
  font-size: 20px;
}
#new-list-element   {
  font-size: 25px;
}
