.overall {
  font-family: sans-serif;
  background-color: white;
}
#header-title {
  background-color: coral;
}
.flex-container {
  display: flex;
}
.flex-container > div {
  flex: 1;
}
#toDoList {
list-style: none;
}
li {
  margin: 15px;
}
#fButton {
  border-radius: 50%;
  background-color: green;
  margin-left:10px;
}
#dButton {
  background-color: red;
  margin-left: 10px;
}
#universalDelete {
  height: 25px;
  background-color: purple;
  border-radius: 15px;
}
